/* common css */
@import './_variables.scss';

body {
  font-size: 16px;
  line-height: 1.8;
  @include mobile {
    font-size: 14px;
    line-height: 1.4;
  }

  @include tablet {
    font-size: 15px;
    line-height: 1.6;
  }
}

.header {
  width: 100%;
  height: 4rem;
  box-shadow: var(--bottom-shodow);

  &-content {
    margin: $marginCenter;
    max-width: $max-width;
  }
}

.aside {
  display: none;
  position: fixed;
  right: 0;
}

.main-container {
  margin: $marginCenter;
  padding: 1.5rem 0.5rem;
  width: 100%;
  max-width: $max-width;

  .post-list {
    display: flex;
    gap: 3rem;
  }
}

.post-section {
  &-article {
    margin-bottom: 3rem;

    h2 {
      margin: 3rem 0 1rem;
      font-size: 2rem;

      &:first-child {
        margin-top: 0;
      }
    }

    & > p {
      margin-top: 0.5rem;
    }

    blockquote {
      margin: 0.5rem 0 0.75em;
      padding: 0.5rem 1rem;
      background-color: var(--bg-lightbray);
      border-left: 3px solid var(--bg-steelblue);
    }

    pre {
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      background-color: var(--bg-gray);
    }

    code {
      padding: 0.1rem 0.2rem;
      background-color: var(--bg-gray);
      border-radius: 2px;
    }

    img {
      max-width: 100%;
      margin: 1rem 0;
      border: 1px solid var(--bg-gray);
    }

    a {
      color: var(--bg-steelblue);
      word-break: break-all;
      &:hover {
        text-decoration: underline;
      }
    }

    hr {
      margin: 4rem 0;
    }

    @include mobile {
      margin-bottom: 2rem;

      hr {
        margin: 2rem 0;
      }
    }
  }

  .utterances {
    max-width: none;
  }
}
