/* common css */
@import './_variables.scss';

body {
  font-size: 16px;
  line-height: 1.8;
  @include mobile {
    font-size: 14px;
    line-height: 1.4;
  }

  @include tablet {
    font-size: 15px;
    line-height: 1.6;
  }
}

.header {
  width: 100%;
  height: 4rem;
  box-shadow: var(--bottom-shodow);

  &-content {
    margin: $marginCenter;
    max-width: $max-width;
  }
}

.aside {
  display: none;
  position: fixed;
  right: 0;
}

.main-container {
  margin: $marginCenter;
  padding: 1.5rem 0.75rem;
  width: 100%;
  max-width: $max-width;

  .utterances {
    max-width: none;
  }
}
